<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticketmaster.designsupportdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TextInputLayoutActivity"
                  android:label="@string/activity_text_input_layout"/>

        <activity android:name=".activity.NavigationViewActivity"
                  android:label="@string/activity_navigation_view"/>

        <activity android:name=".activity.TabActivity"
                  android:label="@string/activity_tab"/>

        <activity android:name=".activity.ToolbarHideActivity"
                  android:label="@string/activity_toolbar_hide"/>

        <activity android:name=".activity.ToolbarPinActivity"
                  android:label="@string/activity_toolbar_pin"/>

        <activity android:name=".activity.ToolbarParallaxActivity"
                  android:label="@string/activity_toolbar_parallax"/>

    </application>

</manifest>
